<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Meal}}<br>
    {{range .Item}}
    {{.Name}} {{.Descrip}} {{.Price}}<br>
    {{end}}
{{end}}

</body>
</html>