<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APPLY</title>
</head>
<body>

<strong>APPLY</strong><br>
<a href="/">index</a><br>
<a href="/about">about</a><br>
<a href="/contact">contact</a><br>
<a href="/apply">apply</a><br>
<form method="POST" action="/apply">
    <input type="submit" value="apply">
</form>

</body>
</html>