{{template "header"}}

<form method="POST" enctype="multipart/form-data">
    <label for="idx-f">Choose File To Upload</label>
    <input type="file" id="idx-f" name="q">
    <br>
    <input type="submit">
</form>

{{if .}}
<h1>Here are the contents of the file:</h1>
{{.}}
{{end}}

{{template "footer"}}