<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        html {
            font-size: 48px;
        }
    </style>
</head>
<body>

You are at index.
<br>

<p>Here is the answer to the ultimate question: {{.}}</p>

</body>
</html>