<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>INDEX</title>
</head>
<body>

<h1>OUR FORM EXAMPLE</h1>

<form action="/process" method="POST">
    <br>
    <label for="fer">FIRST NAME</label>
    <input type="text" name="firster" id="fer" placeholder="First Name">
    <br>

    <label for="ler">LAST NAME</label>
    <input type="text" name="laster" id="ler" placeholder="Last Name">
    <br>

    <label for="cksurf">SURFING</label>
    <input type="checkbox" name="surf" id="cksurf">
    <br>

    <label for="cksnow">SNOWBOARDING</label>
    <input type="checkbox" name="snow" id="cksnow">
    <br>

    <label for="ckskate">SKATEBOARDING</label>
    <input type="checkbox" name="skate" id="ckskate">
    <br>


    <h1>RADIO BUTTON</h1>

    <label for="c1">Surf</label>
    <input type="radio" name="cow" id="c1" value="surfing">

    <label for="c2">Skate</label>
    <input type="radio" name="cow" id="c2" value="skating">

    <label for="c3">Run</label>
    <input type="radio" name="cow" id="c3" value="running">

    <!--<input type="submit">-->
    <button>
        <h1>onda button</h1>
    </button>
</form>


</body>
</html>