<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PROCESSOR</title>
</head>
<body>

<h1>{{.First}} {{.Last}}</h1>

<h2>Surf {{.Surf}}</h2>
<h2>Snow {{.Snow}}</h2>
<h2>Skate {{.Skate}}</h2>

<h2>radio button {{.Radio}}</h2>

</body>
</html>