<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form action="/bar" method="post">
    <input type="submit" name="sub">
</form>

</body>
</html>