<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1>You are at index</h1>

<h1>{{.}}</h1>
<h1>{{.First}}</h1>
<h1>{{.Last}}</h1>

</body>
</html>