<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <style>
        html {
            font-size: 48px;
        }
    </style>
</head>
<body>

You are at Contact
<br><br>
<a href="/">index</a>
<a href="/about">about</a>
<a href="/contact">contact</a>

</body>
</html>