{{define "header"}}
<header>
    <nav>
        <button>
            <svg class="icon icon-sm-in">
                <use xlink:href="#inbox"></use>
            </svg>
        </button>
        <button>Inbox</button>
        <button>Sent</button>
        <button>Trash</button>
    </nav>
    <button>Settings</button>
</header>
{{end}}