<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>

{{range .}}
    {{if and .Name .Admin}}
        Name: {{.Name}}
        Motto: {{.Motto}}
        Admin: {{.Admin}}
    {{end}}
{{end}}


</body>
</html>