{{template "header" .}}

<h1>APPLY</h1>

{{template "nav-main"}}

{{if .FirstName}}
Your name is {{.FirstName}}
{{end}}

<form action="/apply" method="post">

    <label for="fnm">First Name</label>
    <input type="text" name="fname" id="fnm">

    <input type="submit">

</form>

{{template "footer"}}