<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Index</title>
</head>
<body>

{{if .}}
<h1>Cookie Value: {{.}}</h1>
<h1><a href="/user">GO TO USER PAGE</a></h1>
{{end}}

</body>
</html>