<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="POST" action="/">

    <label for="eml">Email</label>
    <input type="email" name="email" id="eml">
    <br>

    <label for="fn">First Name</label>
    <input type="text" name="fname" id="fn">
    <br>

    <label for="li">Logged In</label>
    <input type="checkbox" name="loggedin" id="li">
    <br>

    <input type="submit" value="submit">
</form>

</body>
</html>