<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: 5vw;
            cursor: pointer;
            text-decoration: underline;
        }
    </style>
</head>
<body>


<h1>Make Something Happen</h1>

<script>
    document.querySelector('span').onclick = function () {
        makeRequest('/foo');
    };

    // STEP ONE - create a new XMLHttpRequest
    var xhr = new XMLHttpRequest();

    function makeRequest(url) {
        // make the request
        xhr.open('GET', url);
        xhr.send();
        // listen for the response
        // call receiveResponse function after we receive server response
        xhr.onreadystatechange = receiveResponse;
    }

    function receiveResponse() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                alert(xhr.responseText);
            } else {
                alert('There was a problem with the request.');
            }
        }
    }

</script>
</body>
</html>