<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIDO</title>
</head>
    <body>
        <h1>This is from dog</h1>
        <!--루트에 대한 절대참조로 /dog.jpg로 해야한다. -->
        <img src="/dog.jpg" alt="a picture of a dog">
    </body>
</html>