<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>

{{if gt .Score1 .Score2}}
SCORE 1 > SCORE 2
{{end}}

{{if lt .Score1 .Score2}}
SCORE 1 < SCORE 2
{{end}}

{{if eq .Score1 .Score2}}
SCORE 1 = SCORE 2
{{end}}

{{if lt .Score1 10}}
LAST ONE: SCORE 1 < 10
{{end}}
</body>
</html>