<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wisdom & Transport</title>
</head>
<body>

{{(index .Wisdom 0).Name}}
{{(index .Wisdom 1).Name}}
{{(index .Wisdom 2).Name}}

This is a go template comment
{{/*(index .Wisdom 3).Name*/}}



{{(index .Wisdom 2).Name}}
{{(index .Transport 1).Manufacturer}}
{{(index .Transport 0).Model}}
{{(index .Transport 1).Doors}}


</body>
</html>