<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Fall.Term}} {{.AcaYear}}<br>
    {{range .Fall.Courses}}
    {{.Number}} - {{.Name}} - {{.Units}}<br>
    {{end}}


    {{.Spring.Term}} {{.AcaYear}}<br>
    {{range .Spring.Courses}}
    {{.Number}} - {{.Name}} - {{.Units}}<br>
    {{end}}
{{end}}

</body>
</html>