<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>

<div id="atf">
    <h1>SKYFALL</h1>
</div>

</body>
</html>