<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>

{{template "header"}}

<main>
    <h1>{{.Title}}</h1>
</main>



</body>
</html>