<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEX PAGE</title>
</head>
<body>

<h1>You are at index</h1>

{{if .}}
<h2>The Entire Cookie: {{.}}</h2>
<h2>Name {{.Name}}</h2>
<h2>Value {{.Value}}</h2>
{{end}}

</body>
</html>