<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            height: 100vh;
        }
    </style>
</head>
<body>

<h1>You are at INDEX</h1>

<h1><a href="/foo">GO TO FOO</a></h1>
</body>
</html>