<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CONTACT</title>
</head>
<body>

<h1>CONTACT</h1>

<a href="/">HOME</a>
<a href="/about">ABOUT</a>
<a href="/contact">CONTACT</a>

<br>

{{if .}}
{{.}}

{{range .}}
<h2>First: {{.First}}</h2>
<h2>Age: {{.Age}}</h2>
{{end}}
{{end}}


<img src="/resources/toby.jpg">

</body>
</html>