main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../imgs/paradise.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 8rem;
    color: white;
}