<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>

<h1>YOU ARE AT HOME</h1>

<a href="/">HOME</a>
<a href="/about">ABOUT</a>
<a href="/contact/2">CONTACT 2</a>
<a href="/contact/3">CONTACT 3</a>
<a href="/contact/4">CONTACT 4</a>


</body>
</html>