<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>

<h1>UPDATING</h1>

<h1>ID - {{.ID}} .......... FIRST - {{.First}}</h1>

<form action="/processtoo" method="post">
    <label for="firstname">FIRST NAME HERE YO</label>
    <input type="hidden" value="{{.ID}}" name="customerid">
    <input type="text" id="firstname" name="fffnnnaaammmeee" value="{{.First}}">
    <input type="submit">
</form>

</body>
</html>