<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="/bar">
    <input type="text" name="fname" title="fname">
    <input type="submit">
</form>

</body>
</html>