/* GENERAL */

* {
    /* for debugging: show border around elements */
    border: 1px solid deeppink;
}

html {
    /* default font normally 16px */
    /* (16)(.625)  = 10 */
    /* now 1rem will equal 10px */
    font-size: 62.5%;
}

html, body, header, main, section, article, footer, div, a, ul, li, h1, h2, h3, p {
    /* simple reset - resets browser's default styling */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    /* remove underline on hyperlinks */
    text-decoration: none;
}

li {
    /* remove bullets on lists */
    list-style: none;
}

/* ABOVE THE FOLD (atf) */
/* rulesets to show certain content above the fold */

/* these elements will take up the whole page above the fold */
html, body, #atf {
    height: 100%;
}

/* #atf contains: */
/*      header */
/*      hero image (#hero-img) */
/*      call to action (#cta) */
#atf {
    display: flex;
    flex-direction: column;
}

/* set the hero image */
#hero-img {
    background-color: #8e8e8e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    /* grow the hero image to fill in unused space */
    flex-grow: 1;
}

/* HEADER */

/* header will contain: */
/*      all screen sizes (resolutions): */
/*              the logo: THE ENDLESS JOURNEY */
/*      large screen sizes (resolutions): */
/*              navigation links: SPONSORS / MUSIC / PICTURES / MAP / BLOG */
header {
    font-family: 'Roboto', sans-serif;
    color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

/* logo: THE ENDLESS JOURNEY */
#logo {

    /* make a large touch target */
    /* expand the element to fill height */
    height: 100%;

    /* make a large touch target */
    /* expand the element to fill width
    along primary axis ( horizontally ) */
    flex-grow: 1;

    /* font styling */
    color: #333;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* change the logo's text color when mouse hover's over it */
#logo:hover {
    color: #0266C8;
}


/* disable menu in header */
/* on small devices, menu is displayed below the fold */
/* nav desktop (nd) */
.nd {
    display: none;
}

/* CALL TO ACTION (cta) */
#cta {

    /* set the height of the cta container */
    height: 170px;

    /* set the color of the cta container */
    background-color: #f5f5f5;

    /* center text and button containers */
    /*      #cta-txt, #cta-btn */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cta-txt {

    /* format text */
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: 2px;
    color: #333;

    /* center text old fashioned-way */
    text-align: center;
}

#cta-btn {

    /* button's width */
    width: 20rem;

    /* button's height */
    height: 5rem;
    margin: 1.3rem 0;

    /* format text */
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    line-height: 1;

    /* format button */
    background-color: #333;
    border-radius: 5px;

    /* center child anchor element */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cta-btn a {

    /* make a large touch target */
    /* expand the anchor element to fill height */
    height: 100%;

    /* make a large touch target */
    /* expand the anchor element to fill width along primary axis ( horizontally ) */
    flex-grow: 1;

    /* format font */
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;

    /* format anchor dimsions match the containing h2 element #cta-btn */
    border-radius: 5px;

    /* center the text */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cta-btn a:hover {
    background-color: #0ebfe9;
}

/* ------------------------------------------- */
/* BELOW THE FOLD (btf) */
/* ------------------------------------------- */

/* create flex containers for
        images
        articles
*/
.btf-images, .btf-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* images */
.btf-images img {
    margin: 5px;
}

/* articles */
.btf-articles article {
    padding: 10px;
}

.btf-articles h3 {
    /* font format */
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}

.btf-articles p {
    /* font format */
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}


/* MOBILE MENU ON BOTTOM */
/* nav mobile (nm) */

.nm {
    display: flex;
    flex-direction: column;
    background: deepskyblue;
}

.nm li {

    /* dimensions */
    width: 100%;
    height: 4.5rem;

    /* border */
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);

    /* child elements positioning */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nm li a {
    /* make a large touch target */
    /* expand the anchor element to fill height */
    height: 100%;

    /* make a large touch target */
    /* expand the anchor element to fill width along primary axis ( horizontally ) */
    flex-grow: 1;

    /* font format */
    color: white;
    font-size: 1.75rem;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

    /* child elements positioning */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nm li:hover {
    background: royalblue;
}

.nm li:last-child {
    border-bottom: none;
}

footer {
    height: 70px;
    background-color: #333;

    /* flex container to hold content */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}