<div class="row text-center landing-page">
  <div class="col-md-4">
    <a class="btn btn-default" ui-sref="create">
      <span class="fa fa-calculator fa-5x"></span>
      <h2 class="text-primary">Create</h2>
    </a>
  </div>
  <div class="col-md-4">
    <a class="btn btn-default" ui-sref="manageSearch">
      <span class="fa fa-dashboard fa-5x"></span>
      <h2 class="text-primary">Manage</h2>
    </a>
  </div>
  <div class="col-md-4">
    <a class="btn btn-default" ui-sref="reviewSearch">
      <span class="fa fa-info fa-5x"></span>
      <h2 class="text-primary">Review</h2>
    </a>
  </div>
</div>
