<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Name}}<br>
    {{range .Menu}}
        {{.Meal}}
        {{range .Item}}
            {{.Name}} {{.Descrip}} {{.Price}}<br>
        {{end}}
    {{end}}
{{end}}

</body>
</html>