<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Buddha</title>
</head>
<body>
    {{if .}}
        You are logged in.
    {{else}}
        You are NOT logged in.
    {{end}}
</body>
</html>