<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        html {
            font-size: 48px;
        }
    </style>
</head>
<body>

You are at index.
<br>

<p>Who is your daddy?</p>
<h1>{{.First}}</h1>

<p>How old is he?</p>
<h1>{{.Age}}</h1>
</body>
</html>