<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{range .Wisdom}}
{{uc .Name}}
{{end}}


{{range .Wisdom}}
{{ft .Name}}
{{end}}


</body>
</html>