<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form>

    <label for="sub">subscribe</label>
    <input type="checkbox" id="sub" name="subscribe" value="true" class="i">

    <label for="des1">ice cream</label>
    <input type="radio" id="des1" name="dessert" value="ice cream" class="i">

    <label for="des2">brownie</label>
    <input type="radio" id="des2" name="dessert" value="brownie" class="i">

    <label for="des3">cake</label>
    <input type="radio" id="des3" name="dessert" value="cake" class="i">

    <label for="tx">day of week</label>
    <input type="text" id="tx" name="dow">
</form>

<script>
    var tx = document.querySelector('#tx');
    var inputs = document.querySelectorAll('.i');
    var form = document.querySelector('form');

    console.log(tx);
    console.log(inputs);
    console.log(form);

    for (i = 0; i < inputs.length; i++) {
        console.log(i);
        inputs[i].addEventListener('click', submitForm);
    }

    tx.addEventListener('input', submitForm);

    function submitForm(){
        var data = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/process', true);
        xhr.send(data);
    }
</script>




</body>
</html>