<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEX PAGE</title>
</head>
<body>

<h1>You are at index</h1>

<h2><a href="/login">login</a></h2>
<h2><a href="/logout">log out</a></h2>
<h2><a href="/signup">sign up</a></h2>
<h2><a href="/other">some other page</a></h2>

<h2>First: {{.First}}</h2>
<h2>Last: {{.Last}}</h2>
<h2>Email: {{.Email}}</h2>
<h2>Password: {{.Password}}</h2>

</body>
</html>