{{define "headerThing"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{end}}

{{define "footerThing"}}
</body>
</html>
{{end}}

just random crap