<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <h1>ADD PHOTO</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="data">
        <input type="submit">
    </form>

    <h1>PHOTOS</h1>
    <br>
        {{range .Pictures}}
        <img src="https://storage.googleapis.com/learning-1130.appspot.com/{{.}}"><br>
        <br>
        {{end}}
    <br>

    <h1>DATA</h1>

    <p>ID:
        <br>
        {{.ID}}
    </p>

    <p>Pictures:
        <br>
        {{range .Pictures}}
        {{.}}<br>
        {{end}}
    </p>

</body>
</html>